body {
    font-size: 16px;
    font-family: 'PingFang TC', 'Noto Sans TC', sans-serif;
    color: #353738;
}

h1 {
    color: #485D60;
}

p {
    color: #000000;
    margin: 20px 0 20px;
}

p.fake-60-px {
    height: 60px;
    margin: 0;
    content: ""
}

.job-desc {
    font-size: 14px;
    line-height: 140%;
}

.job-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}

.about-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 60px;
}

.about-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    margin: 0;
}

.about-content {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .icons-hamburger {
        visibility: hidden;
        margin: 0;
        height: 0;
        padding: 0;
    }
    .container {
        margin: 40px 40px 0 40px;
        display: grid;
        max-width: 100%;
    }
    .profile-info {
        grid-column: 1;
        width: 310px;
        height: 728px;
        position: fixed;
    }
    #profile-info-avatar {
        width: 310px;
        height: 310px;
    }
    .description {
        width: 310px;
        height: 728px;
        margin-top: 20px;
    }
    .icons-medium {
        padding-left: 20px;
    }
    .HOME {
        width: 70px;
        height: 20px;
        color: #49787E;
        font-size: 14px;
        line-height: 140%;
    }
    .ABOUT {
        width: 70px;
        height: 20px;
        color: #49787E;
        font-size: 14px;
        line-height: 140%;
    }
    .all-projects {
        grid-column: 2;
        margin-left: 371px;
    }
    #section-about {
        grid-column: 2;
        margin-left: 371px;
    }
    .img-fluid {
        width: 104.12%;
    }
    .cover-desc {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 20px;
        color: #414A4E;
    }
    .wrapper {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        content: ""
    }
    .fake-height {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        content: ""
    }
}

@media (min-width: 415px) and (max-width: 991px) {
    .icons-hamburger {
        visibility: hidden;
        margin: 0;
        height: 0;
        padding: 0;
    }
    .container {
        margin: 24px 24px 0 40px;
        display: grid;
        max-width: 100%;
    }
    .profile-info {
        grid-column: 1;
        width: 310px;
        height: 728px;
        position: fixed;
    }
    #profile-info-avatar {
        width: 310px;
        height: 310px;
    }
    .description {
        width: 310px;
        height: 728px;
        margin-top: 20px;
    }
    .icons-medium {
        padding-left: 20px;
    }
    .HOME {
        width: 70px;
        height: 20px;
        color: #49787E;
        font-size: 14px;
        line-height: 140%;
    }
    .ABOUT {
        width: 70px;
        height: 20px;
        color: #49787E;
        font-size: 14px;
        line-height: 140%;
    }
    .all-projects {
        grid-column: 2;
        margin-left: 355px;
    }
    #section-about {
        grid-column: 2;
        margin-left: 371px;
    }
    .img-fluid {
        width: 104.12%;
    }
    .cover-desc {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 20px;
        color: #414A4E;
    }
    .wrapper {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        content: ""
    }
    .fake-height {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        content: ""
    }
}

@media (max-width: 414px) {
    .about-title {
        margin-top: 84px;
        margin-bottom: 80px;
    }
    .icons-hamburger {
        position: absolute;
        right: 24px;
        top: 24px;
    }
    .container {
        margin: 24px 24px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #profile-info-avatar {
        width: 107px;
        height: 107px;
    }
    .avatar {
        text-align: center;
    }
    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        text-align: center;
        color: #49787E;
        margin: 20px 0 20px;
    }
    .job-title {
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #000000;
    }
    .icons-medium {
        padding-left: 20px;
    }
    .HOME {
        visibility: hidden;
        margin: 0;
        padding: 0;
        content: "";
        width: 0;
        height: 0;
    }
    .ABOUT {
        visibility: hidden;
        margin: 0;
        padding: 0;
        content: "";
        width: 0;
        height: 0;
    }
    .description {
        width: 100%;
    }
    .img-fluid {
        width: 100%;
    }
    .cover-desc {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 600;
        line-height: 140%;
        font-size: 20px;
        color: #414A4E;
    }
    .profile-info {
        margin-bottom: 54px;
    }
    .profile-info-about {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        content: ""
    }
    /* Side Bar */
    .sidenav {
        display: flex;
        height: 100%;
        width: 0;
        /*原始寬度爲0*/
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    /*側欄標籤和關閉按鈕光標的效果*/
    .sidenav a:hover,
    .offcanvas a:focus {
        color: #A1AAAE;
    }
    /*側欄和關閉按鈕的位置選擇器*/
    .openbtn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .hamburger {
        display: flex;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    .hamburger-around {
        display: block;
        width: 21px;
        height: 21px;
    }
    .hamburger .line {
        height: 1px;
        border: 1px solid #000000;
        background-color: #000000;
        border-radius: 6px;
        display: block;
        margin: 3px auto;
    }
    ._hamburger {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        top: 40px;
        right: 40px;
    }
    ._hamburger-around {
        display: block;
        width: 21px;
        height: 21px;
    }
    ._hamburger ._line {
        height: 1px;
        border: 1px solid #000000;
        background-color: #000000;
        border-radius: 6px;
        display: block;
        margin: 3px auto;
    }
    ._line_1 {
        transform: translateX(2px) rotate(45deg) translateY(4px);
    }
    ._line_2 {
        transform: translateX(2px) rotate(-45deg) translateY(-4px);
    }
    .menu__item {
        margin-top: 50px;
        list-style-type: none;
        margin-bottom: 40px;
    }
    .menu__link {
        color: #000000;
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
    }
    .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: gray;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .50;
        filter: alpha(opacity=80);
    }
    #mySidenav {
        z-index: 1002;
    }
}