body {
    font-size: 16px;
    font-family: "Source Serif Pro", serif;
    color: #353738;
}

h1 {
    color: #485D60;
}

p {
    color: #000000;
}

@media (min-width: 1366px) {
    .icons-hamburger {
        visibility: hidden;
        margin: 0;
        height: 0;
        padding: 0;
    }
    .container {
        margin: 40px 40px 0 40px;
        display: grid;
        max-width: 100%;
    }
    .profile-info {
        grid-column: 1;
        width: 310px;
        height: 728px;
        position: fixed;
    }
    #profile-info-avatar {
        width: 310px;
        height: 310px;
    }
    .description {
        width: 310px;
        height: 728px;
        margin-top: 20px;
    }
    .icons-medium {
        padding-left: 20px;
    }
    .HOME {
        width: 70px;
        height: 20px;
        color: #49787E;
    }
    .ABOUT {
        width: 70px;
        height: 20px;
        color: #49787E;
    }
    .all-projects {
        grid-column: 2;
        margin-left: 371px;
    }
    .img-fluid {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1366px) {
    .icons-hamburger {
        visibility: hidden;
    }
    .container {
        margin: 24px 24px 0 40px;
        display: grid;
        max-width: 100%;
    }
    .profile-info {
        grid-column: 1;
        width: 310px;
        height: 728px;
        position: fixed;
    }
    #profile-info-avatar {
        width: 310px;
        height: 310px;
    }
    .description {
        width: 310px;
        height: 728px;
        margin-top: 20px;
    }
    .icons-medium {
        padding-left: 20px;
    }
    .HOME {
        width: 70px;
        height: 20px;
        color: #49787E;
    }
    .ABOUT {
        width: 70px;
        height: 20px;
        color: #49787E;
    }
    .all-projects {
        grid-column: 2;
        margin-left: 355px;
    }
    .img-fluid {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .icons-hamburger {
        position: absolute;
        right: 0px;
        margin-right: 24px;
    }
    .container {
        margin: 24px 24px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .profile-info {
        width: 100%;
        height: 600px;
    }
    #profile-info-avatar {
        width: 310px;
        height: 310px;
    }
    .avatar {
        text-align: center;
    }
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    #job-title {
        text-align: center;
    }
    .icons-medium {
        padding-left: 20px;
    }
    .HOME {
        visibility: hidden;
    }
    .ABOUT {
        visibility: hidden;
    }
    .description {
        width: 100%;
        height: 728px;
        margin-top: 20px;
    }
    .img-fluid {
        margin-bottom: 20px;
        width: 100%;
    }
}