html,
body {
    font-family: 'PingFang TC', 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    text-justify: auto;
    margin: 20px 0 20px;
}

p.special-desc {
    text-align: center;
    color: #49787E;
}

li {
    text-align: justify;
}

p.fake-20-px {
    height: 20px;
    margin: 0;
    content: ""
}

p.quote-p {
    margin: 10px 0 10px;
}

hr {
    border: 1px solid #D3D9DC;
}

.center-box,
.img-container {
    display: flex;
    justify-content: center;
}

.icons-BTP {
    width: 40px;
    opacity: 0.4;
}

.icons-BTP:hover {
    width: 40px;
    opacity: 0.6;
}

#button {
    display: none;
    bottom: 40px;
    right: 40px;
    position: fixed;
    z-index: 1000;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.nav-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    height: 56px;
}

.nav-avatar {
    width: 34px;
    height: 34px;
}

.nav-name a {
    letter-spacing: 1px;
    margin-left: 20px;
    font-weight: 600px;
    font-size: 16px;
    color: #7D8A80;
}

.nav-projects {
    margin-right: 40px;
    font-weight: 600px;
    font-size: 16px;
    color: #7D8A80;
}

.nav-about {
    margin-right: 40px;
    font-weight: 600px;
    font-size: 16px;
    color: #7D8A80;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: #EBF3FE;
    margin-top: 56px;
}

h1 {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

section {
    margin-left: 23.645681%;
    margin-right: 23.645681%;
}

.content-title {
    display: flex;
    align-items: center;
    margin-bottom: -16px;
}

.cards {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    background: #E7F1F3;
    border-radius: 6px;
    margin-left: 20px;
    width: 100%;
    margin: 0;
}

.card-left-ul,
.card-right-ul {
    margin-left: 8px;
    margin-bottom: 20px;
}

.card-left-p,
.card-right-p {
    font-weight: 500;
    font-size: 16px;
    margin: 4px 0 20px -28px;
}

.card-right {
    margin-left: 40px;
}

.content-subtitle {
    font-weight: 600;
    font-size: 20px;
    padding: 0 0 0 24px;
}

.content-subtitle-2 {
    display: flex;
    align-items: center;
}

.content-subtitle-2-1 {
    width: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    color: #7D8A80;
    padding: 10px 20px;
}

.content-subtitle-2-2 {
    width: 100%;
}

.image-part-2a-1,
.image-part-2a-2 {
    width: 96.345%;
}

.image-part-2b-1 {
    width: 96.345%;
}

.image-part-2b-2 {
    width: 96.345%;
}

.image-part-desc {
    text-align: center;
    font-size: 12px;
    color: #74848B;
}

.image-part-2c {
    width: 69.445%;
}


/* 800px */

.image-part-2j,
.image-part-2k,
.image-part-2l {
    width: 111.112%;
}

.image-part-2f,
.image-part-2d {
    width: 111.112%;
    border: 1px solid #E0E0E0;
}

.image-part-2e-1 {
    width: 100%;
}

.image-part-2e-2 {
    width: 100%;
}


/* 100% */

.image-part-2g {
    width: 100%;
}

.image-part-2h {
    width: 100%;
    border: 1px solid #E0E0E0;
}

.image-part-2i {
    width: 148.613%;
}

.circle-content {
    font-weight: 600;
    font-size: 18px;
    color: #7D8A80;
    margin: 20px 0 20px;
}

.fa-arrow-circle-down {
    margin: 20px 50%;
    color: #7D8A80;
}

.img-container-left {}

.img-container-right {
    margin-left: 97px;
}

.sharing {
    margin-bottom: 20px;
}

.title {
    margin-top: 40px;
    display: flex;
    height: 116px;
    background-color: #009EBE;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
}

.Previous-Now-version {
    display: flex;
    background: #497A7E;
    border-radius: 6px;
    color: #FFFFFF;
    width: 50%;
    height: 42px;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.original-version,
.revised-version {
    display: flex;
}

.original-version-left {
    display: flex;
    flex-grow: 1;
    background: #BDBDBD;
    border: 1px solid #A1AAAE;
    box-sizing: border-box;
    border-radius: 5px;
    height: 36px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.revised-version-left {
    display: flex;
    flex-grow: 1;
    background: #49787E;
    border: 1px solid #7D8A80;
    box-sizing: border-box;
    border-radius: 5px;
    height: 36px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.original-version-right,
.revised-version-right {
    flex-grow: 9.62;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 60px;
}

.video-container iframe {
    position: absolute;
    width: 111.11%;
    height: 111%;
}

.next {
    margin-top: 120px;
    display: flex;
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.next:hover {
    background: #E7F1F3;
}

.next_inbox {
    display: flex;
    flex-direction: column;
    width: 41.14202%;
    height: 74.901961%;
}

.next_inbox_top {
    font-size: 26px;
    color: #49787E;
}

.next_inbox_down {
    display: flex;
    font-size: 18px;
    color: #414A4E;
    align-items: center;
    margin-bottom: 5%;
}

.next_letter {
    width: 83.03%;
    height: 52.941176%;
}

.next_inbox_down_p {
    font-weight: 600;
}


/* Slide Bar */

.input-toggler {
    display: none;
}

:root {
    scroll-padding-top: 3.5rem;
}

.menu-title {
    text-align: center;
}

:root {
    --sidebar-width: 323px;
}

.sidebar {
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    width: 321px;
    transform: translateX(calc(var(--sidebar-width) * 1.5));
    display: flex;
    align-items: center;
    position: fixed;
    right: 40px;
    top: 128px;
    transition: transform .5s, background-position 1s .6s;
    z-index: 1;
}

.menu__item {
    list-style-type: none;
    margin-bottom: 20px;
}

.menu__link {
    color: #A1AAAE;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.input-toggler:checked~.sidebar {
    transform: translateX(0);
}

.content div[id] {
    display: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    color: #485D60;
    ;
}

.menu-toggler {
    display: flex;
    position: fixed;
    top: 76px;
    right: 40px;
    cursor: pointer;
    z-index: 9999999;
}


/* hamburger */

.hamburger {
    display: flex;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.hamburger-around {
    display: block;
    width: 21px;
    height: 21px;
}

.hamburger .line {
    height: 1px;
    border: 1px solid #7D8A80;
    background-color: #7D8A80;
    border-radius: 3px;
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-4.is-active .line:nth-child(1),
#hamburger-4.is-active .line:nth-child(3) {
    width: 10px;
}

#hamburger-4.is-active .line:nth-child(1) {
    -webkit-transform: translateX(10px) rotate(45deg) translateY(4px);
    -ms-transform: translateX(10px) rotate(45deg) translateY(4px);
    -o-transform: translateX(10px) rotate(45deg) translateY(4px);
    transform: translateX(10px) rotate(45deg) translateY(4px);
}

#hamburger-4.is-active .line:nth-child(3) {
    -webkit-transform: translateX(10px) rotate(-45deg) translateY(-4px);
    -ms-transform: translateX(10px) rotate(-45deg) translateY(-4px);
    -o-transform: translateX(10px) rotate(-45deg) translateY(-4px);
    transform: translateX(10px) rotate(-45deg) translateY(-4px);
}